name: Playwright Tests
on:
    push:
        branches:
            - main
jobs: 
    playwright_tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              run: npm install
              run: npx playwright install --with-deps
            - name: Run playwright tests
              run: npm run test:e2e