name: Playwright Tests
on:
    push:
        branches:
            - main
jobs: 
    playwright_tests:
        runs-on: ubuntu-latest
        steps:
            - name: Install dependencies
              run: npx playwright install --with-deps
            - name: Run playwroght tests
              run: npm run test:e2e